

<div class="all-container">
  <h1><strong>About my Programming Stack</strong></h1>



<div  class="card-container">
  
  <div class="card" style="width: 29rem;">
     <div class="card-body">
    <h5 class="card-title">Programming Languages</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">HTML</li>
    <li class="list-group-item">CSS</li>
    <li class="list-group-item">JavaScript</li>
      <li class="list-group-item">Python</li>  
  </ul>
  
</div>

  <div class="card"  style="width: 29rem;">
    <div class="card-body">
    <h5 class="card-title">Skills</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Backend web development(Node JS)</li>
    <li class="list-group-item">Front end web development (HTML,CSS,JS)</li>
    <li class="list-group-item">Machine learning (Python)</li>
    <li class="list-group-item">Data visualization and Analytics </li>
  
  </ul>
  
</div>
    <div class="card"  style="width: 29rem;">
    <div class="card-body">
    <h5 class="card-title">My Tech. Fields of Interest</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Graphics Designing</li>
    <li class="list-group-item">Web development</li>
    <li class="list-group-item">Artificial Intelligence</li>
    <li class="list-group-item"> App Development(mobile apps)</li>
  
  </ul>
  
</div>
</div>

</div>