<section id="contact">
  <div class="container" id="Contact">
    <h2>Contact Me</h2>
    <form method="POST" action="/contactdata">
      <label for="name">Name</label>
      <input name="user" type="text" id="name" name="name" required>

      <label for="email">Email</label>
      <input name="email" type="email" id="email" name="email" required>

      <label for="message">Message</label>
      <textarea name="msg" id="message" name="message" placeholder="Send me a message" required></textarea>

      <button name="submit" type="submit">Send</button>
    </form>
  </div>
</section>


