<div class="project-section">
        <h1><strong>Some Of My  Projects</strong></h1>

    <div class="project" >
        <img src="public/image/kbv.jpg" alt="Project Image">
        <h3>Virtual-AI-KEYBOARD</h3>
        <p>A virtual keyboard that opens up on your webcam made using computer vision python. Major tools:MEDIAPIPE SOLUTIONS(HANDTRACKING),OPENCV-python</p>
        <a href="https://github.com/Sushantad7/Virtual-AI-KEYBOARD">View project</a>
    </div>


    <div class="project" >
        <img src="public/image/nodejs.png" alt="Project Image">
        <h3>TO do list and Task MANAGER API</h3>
        <p> A CRUD node js based API and web app</p>
        <a href="#"">View project</a>
    </div>


    <div class="project">
        <img src="public/image/Minor.jpeg" alt="Project Image">
        <h3>Personal Trainer AI</h3>
        <p> A fitness assistant to count exercise repetitions and find out the correctness of exercises and postures
            Major tools: MEDIAPIPE,BLAZEPOSE
        </p>
        <a href="#"">View project</a>
    </div>

    <div class="project" >
        <img src="public/image/textclassification.png" alt="Project Image">
        <h3>Text Classification for Business Analytics</h3>
        <p> Building ML based text classifiers to assist in business intelligence</p>
        <a href="https://github.com/Sushantad7/MajorProject">View project</a>
    </div>


</div>