<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My PortFolio </title>
        <link rel="icon" type="image/png" href="public/image/titlefavi.png">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="public/styles/style.css">
    </head>

    <body>
        {{> nav}}
        <div class="container">
             
             <div class="header-section text-center" id="Home">

                    <h1>WELCOME TO MY PERSONAL WEBSITE</h1> 
                    <p>"Winners never quit and ,quitters never Win"</p>

             </div>

             

            <div class="self-section" id="About">
                <img  src="public/image/developer.png" alt="developer" width="233 px" height="233px">
                <div class="text-bg-info p-3">
                    
                    <h2>Hey there,this is Sushant Adhikari.</h2>
                    <p> I am currently pursuing my computer engineering degree IOE,TU and im 
                        in my final year .I am a tech enthusiast who loves  building and playing around with the web.Futhermore,I am also into machine learning and have done some projects so far ,and i am only willing to build upon it.</p>
                </div>
            </div>
            


            
        </div>
         {{> card}}

       
        <script src="js/bootstrap.min.js">
                
        </script>
        
    </body>
    
        {{>projects}}
   
       



          

          {{>contact}}

    <footer>
        Copyright <img src="public/image/copyright.png" alt="icon"> SUSHANT ADHIKARI 2023
    <ul class="social-media-icons"> 
        <p><strong>FIND ME ON:</strong></p>


  <li><a href="https://www.facebook.com/sushantadhk/"><img src="public/image/Ifacebook.png" alt="Facebook"></a></li>
  <li><a href="https://twitter.com/Ad_Sushant7"><img src="public/image/Itwitter.png" alt="Twitter"></a></li>
  <li><a href="https://www.instagram.com/sushant_ad7/"><img src="public/image/Iinstagram.png" alt="Instagram"></a></li>
  <li><a href="https://github.com/Sushantad7"><img src="public/image/Igithub.png" alt="GitHub"></a></li>
  <li><a href="www.linkedin.com/in/sushant-adhikari-8102b4243"><img src="public/image/Ilinkedin.png" alt="LinkedIN"></a></li>

</ul>

    </footer>
</html>